@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-emerald-500 text-white font-semibold rounded-md shadow-md hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75 w-full;
  }

  a {
    @apply text-emerald-500;
  }
}

.router-link-active {
  @apply bg-green-700 text-white;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.red-green {
  background: rgb(21, 202, 130);
  background: linear-gradient(90deg, rgba(21, 202, 130, 1) 0%, rgba(255, 123, 154, 1) 100%);
}

.green {
  background: rgb(116, 214, 128);
  background: linear-gradient(90deg, rgba(116, 214, 128, 1) 0%, rgba(55, 139, 41, 1) 100%);
}

.red {
  background: rgb(255, 0, 0);
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 120, 120, 1) 100%);
}

/* Inspired by: https://codepen.io/alvarotrigo/pen/PoKMyNO */
.christmas-text {
  text-transform: uppercase;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s ease infinite;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
